html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 250px;
  height: 350px;
  background: rgb(68, 66, 66);
  padding: 5px;
  margin: 50px auto auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}
.box-item {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}

.container #display {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  background: gray;
  margin: 3px 0 5px 0;
  padding: 5px;
}

#display {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.plus {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;
}
.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
