html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 200px;
  height: 250px;
  background: gray;
  padding: 5px;
  margin: 50px auto auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}
#display {
  background: rgb(154, 158, 154);
  grid-column-start: 1;
  grid-column-end: 5;

  display: flex;
  flex-direction: row-reverse;
}
.plus {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;
}
.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
